.intro {
    height: 100vh; // Sets this div to automatically take up the full height of the viewport
    position: relative;
}

.green {
    color: #25A18E;
}

.icon-link:hover {
    color: #25A18E !important;
}

.intro-title {
    font-size: 2.5rem;
}

.intro-body {
    font-size: 1.5rem;
    overflow-wrap: normal;
}

.intro-contact {
    font-size: 1.25rem;
}

@media screen and (max-width: 1200px) {
    .intro-title {
        font-size: 2rem;
    }

    .intro-body {
        font-size: 1.25rem;
    }

    .intro-contact {
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .intro-title {
        font-size: 1.5rem;
    }

    .intro-body {
        width: 75%; /* The width is 100%, when the viewport is 800px or smaller */
        font-size: 1rem;
    }

    .intro-contact {
        font-size: .85rem;
    }

    .left-spacer {
        display: none;
    }
}

a {
    color: inherit !important;
}

.scroll-indicator {
    position: absolute;
    bottom: 5%;
    left: 50%;
    opacity: .15;
    transition: 600ms;
}

.hide {
    opacity: 0;
    transition: 600ms;
}
