@import "~bootstrap/scss/bootstrap";
@import url("https://use.typekit.net/pro4brl.css");
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500');

body {
    background-color: #ffffff;
    font-family: "europa", "Work Sans", sans-serif; 
    color: #293855;
}

::selection {
    background: #69e9aa; 
    color: #ffffff;
  }

.green-block {
    height: 100vh;
    width: 11vw;
    position: fixed;
    top: 0;
    background-color: #3262CA;
    //box-shadow: inset -5px 0 10px rgba(0, 0, 0, 0.15);
}

.logo {
    opacity: 0;
    transition: 800ms;

    position: relative;
    text-align: center;
    letter-spacing: 2.5px;
    top: 4%;
    font-size: 1.25rem;
    font-weight: 700;
    color: #69e9aa;
    cursor: pointer;
}

.show {
    opacity: 1;
    transition: 800ms;
}

.blinking-underscore {
    color: #fbe38e;
    animation: 
      blink-caret .75s step-end infinite;
}

.sam-photo {
    float: right;
    width: 64vw;
    height: auto;
}

.spacer {
    padding-top: 12rem;
}

.title {
    color:#fbe38e;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 10px;
}

.title-align {
    float: right;
    margin-right: 20%;
}

.title-rotate {
    writing-mode:vertical-rl;
    transform: rotate(180deg);
}

.hidden-title {
    display: none;
}

.hidden-contact-info {
    display: none;
}

@media screen and (max-width: 800px) {
    .title {
        display: none;
    }

    .hidden-title {
        display: block;
        font-weight: 500;
        color: #fbe38e;
        font-size: 1.75rem;
    }

    .green-block {
        display: none;
    }

    .nav-container {
        display: none;
    }

    .contact-info {
        display: none;
    }

    .hidden-contact-info {
        display: block;
    }

    .sam-photo {
        float: right;
        width: 100%;
        height: auto;
    }
}

.hidden {
    opacity: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transition-timing-function: cubic-bezier(.694, 0, .335,1);
    }
}
.fade-in-element {
    animation: fade-in 2.4s;
}

.nav-container {
    left: 5%;
    position: fixed;
    top: 0;
    height: 100vh;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.dot {
    height: 10px;
    width: 10px;
    border: 2px solid #69e9aa;
    border-radius: 50%;
    display: block;
    margin-bottom: 20px;
    cursor: pointer;

    &.filled-in {
        background-color: #69e9aa;
    }
}