@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500');

body {
    background-color: #f7f8fa;
    font-family: 'Work Sans', sans-serif;
    color: #444451;
}

.green-block {
    height: 100vh;
    width: 36vw;
    position: fixed;
    top: 0;
    background-color: #9BD4CB;
}

.spacer {
    padding-top: 12rem;
}

.title {
    font-weight: 500;
    color: #25A18E;
    font-size: 1.15rem;
}

.hidden-title {
    display: none;
}

@media screen and (max-width: 800px) {
    .title {
        display: none;
    }

    .hidden-title {
        display: block;
        font-weight: 500;
        color: #25A18E;
        font-size: 1.15rem;
    }

    .green-block {
        display: none;
    }

    .nav-container {
        display: none;
    }
}

.hidden {
    opacity: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transition-timing-function: cubic-bezier(.694, 0, .335,1);
    }
}
.fade-in-element {
    animation: fade-in 2.4s;
}

.nav-container {
    left: 5%;
    position: fixed;
    top: 0;
    height: 100vh;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.dot {
    height: 10px;
    width: 10px;
    border: 2px solid #25A18E;
    border-radius: 50%;
    display: block;
    margin-bottom: 20px;
    cursor: pointer;

    &.filled-in {
        background-color: #25A18E;
    }
}